.ic .right_angle{
    background-image: url("https://iamal.mooo.com/icon-lab/res/angles/right_angle.svg");
}
.ic .left_angle{
    background-image: url("https://iamal.mooo.com/icon-lab/res/angles/left_angle.svg");
}
.ic .double_right_angle{
    background-image: url("https://iamal.mooo.com/icon-lab/res/angles/double_right_angle.svg");
}
.ic .double_left_angle{
    background-image: url("https://iamal.mooo.com/icon-lab/res/angles/double_left_angle.svg");
}
.ic .left_angle_sign {
    background-image: url("https://iamal.mooo.com/icon-lab/res/angles/left_angle_sign.svg");
}
.ic .right_angle_sign{
    background-image: url("https://iamal.mooo.com/icon-lab/res/angles/right_angle_sign.svg");
}
